DATABASE_URL="postgresql://user:password@ep-xxxxx.us-east-2.aws.neon.tech/holocard?sslmode=require"
AUTH_SECRET="your-auth-secret-here"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
AI_API_KEY=""
NEXTAUTH_URL="http://localhost:3000"
